.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.hld p{
  color: brown;
  font-family:monospace;
  font-size: 10px;
}
.hld a:hover{
  color: white;
}
.call-out:nth-child(1) img{background-color: #c0dbe2;content: url("../image/11.jpg");border-radius: 4px!important;width: 100%;
    max-width: 400px;
    height: auto;}
.call-out:nth-child(2) img{background-color: #c0dbe2;content: url("../image/22.jpg");border-radius: 4px!important;width: 100%;
    max-width: 400px;
    height: auto;}
.call-out:nth-child(3) img{background-color: #c0dbe2;content: url("../image/33.jpg");border-radius: 4px!important;width: 100%;
    max-width: 400px;
    height: auto;}
    .fixed-size {
      width: 150px;
    height: auto;
    /* background-color: #990b47; */
    /* color: #FFF; */
    /* line-height: 100px; */
    text-align: center;
    /* font-weight: bold; */
    /* font-size: 60px; */
    /* margin-bottom: 20px; */

    }
    .fixed-size img{
      border: 1px solid orange;
      border-radius: 4px;
      width: 100%;
      max-width: 150px;
      height: auto;
    }
    .fixed-size img:hover{
      opacity: 0.7;
    }
    .fixed-size a{
    text-decoration: none;
    }
		.second-a {
	  background-color: #c0dbe2;
	  flex: 1;
	}

	.second-b {
	  background-color: #cdf1c3;
	  flex: 1;
	  margin-top:2px;
	}
	.second-c {
	  background-color: #eec3f1;
	  flex: 1;
	  margin-top:2px;
	}

    .second h4,.second p,.second a{
      padding-left: 10px;
    }
	   .navelement img{
        width: 100%;
        max-width: 60px;
        height: auto;
    }
    .top-container h3{
      color: white;
    }
    .top-container img{
      width: 100%;
        max-width: 444px;
        height: auto;
      }
